body{
    background-color: rgb(218, 216, 216);
    margin: 0;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
}

.container{
    background: rgb(218, 216, 216);
    width:750px;
    margin: auto;
}
.titulo{
    background: white;
    width:750px;
    margin: auto;
}
img{
    width: 100%;
}
h2, p{
    padding: 5px;
}
.encabezado{
   display: flex;
   width: 100%;
   
}
.nombre{
    width: 80%;
    padding-left: 30px;
}
.fecha{
    width: 20%;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
    color: gray;
}
.post{
    margin-top: 20px;
    margin-bottom: 50px;
    background: white;
}
.pie p{
    font-size:larger;
}